.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.titleText {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
